{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12">        
    <h1 style="margin-right: 20px;">درباره من</h1>
    <hr>
    <div class="row" style="margin: auto;">
        <div class="col-md-6">
            <div class="jumbotron">
                <h3 class="display-3" style="font-size: 2.5rem;">وبسایت کالری شمار روزانه</h3>
                <p class="lead">می‌توانید از طریق راه های ارتباطی با من در ارتباط باشید.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-header">راه های ارتباط</div>
                <div class="card-body">
                    <h4 class="card-title">ارتباط با من</h4>
                    <p class="card-text"><b>ایمیل :</b>info@arsalan.sc30@gmail.com</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}